Repository dodwmd/teko, changes with the owners that .github/CODEOWNERS names for each.
All owners: @teko-admin, @php-team, @python-team, @devops-team, @docs-team

Fix Python dependency conflict in requirements.txt
  agents/requirements.txt
Owners: @python-team

Fix multiple security vulnerabilities in Python dependencies
  agents/requirements.txt
Owners: @python-team

Add Python virtual environment setup and management scripts
  .gitignore
  Makefile
  scripts/run-agent.sh
  scripts/setup-python-env.sh
Owners: @teko-admin

Add documentation for GitHub wiki integration
  .envrc
  .github/workflows/wiki-sync.yml
  docs/Installation.md
  docs/README.md
  docs/architecture.md
  docs/cicd.md
  docs/direnv-setup.md
Owners: @teko-admin, @devops-team, @docs-team

Add repository configuration as code with automated workflow
  .github/config.json
  .github/workflows/repo-config.yml
  docs/repo-config.md
Owners: @teko-admin, @devops-team, @docs-team

Simplify repository configuration for trunk-based development
  .github/workflows/repo-config.yml
Owners: @devops-team

Remove collaborator configuration to let the organization handle access control
  .github/config.json
  .github/workflows/repo-config.yml
  docs/repo-config.md
Owners: @teko-admin, @devops-team, @docs-team

Update GitHub Actions workflows: Fix wiki-sync to use WIKI_TOKEN and update action versions
  .github/workflows/main.yml
  .github/workflows/repo-config.yml
  .github/workflows/wiki-sync.yml
Owners: @devops-team

Fix Docker build by using Python virtual environment for dependencies
  Dockerfile
  scripts/run-agent.sh
Owners: @devops-team, @teko-admin

Simplify wiki sync workflow with direct approach
  .github/workflows/wiki-sync.yml
Owners: @devops-team

Rename docs directory to wiki and update wiki sync workflow to use joeizzard/action-wiki-sync
  .github/workflows/wiki-sync.yml
  wiki/Installation.md
  wiki/README.md
  wiki/architecture.md
  wiki/cicd.md
  wiki/direnv-setup.md
  wiki/repo-config.md
Owners: @devops-team, @docs-team

update action
  .github/workflows/wiki-sync.yml
  docs/Installation.md
  docs/README.md
  docs/architecture.md
  docs/cicd.md
  docs/direnv-setup.md
  docs/repo-config.md
Owners: @devops-team, @docs-team

Update documentation structure with Home.md as wiki index and README.md for repository docs directory
  docs/Home.md
  docs/README.md
Owners: @docs-team

fix trigger
  .github/workflows/wiki-sync.yml
Owners: @devops-team

Fix Python dependency conflicts in requirements.txt
  agents/requirements.txt
Owners: @python-team

Fix Docker build: add python3-venv package for virtual environment support
  Dockerfile
Owners: @devops-team

Enhance CI/CD pipeline: Add Docker container building and GitHub release creation
  .github/workflows/main.yml
Owners: @devops-team

moved
  .github/workflows/security-deploy.yml
  .github/workflows/security.yml
Owners: @devops-team

Fix Python dependency conflicts in requirements.txt with more flexible version ranges
  agents/requirements.txt
Owners: @python-team

Update GitHub Actions to use latest versions in main workflow
  .github/workflows/main.yml
Owners: @devops-team

Enhance documentation: Add deployment guide and update architecture/CI-CD docs
  docs/Home.md
  docs/architecture.md
  docs/cicd.md
  docs/deployment.md
Owners: @docs-team

fixes
  .github/workflows/main.yml
  .github/workflows/security.yml
  Makefile
  scripts/python-lint.sh
  scripts/python-static-analysis.sh
  scripts/python-tests.sh
Owners: @devops-team, @teko-admin

Fix Python testing scripts to avoid directory navigation issues
  scripts/python-lint.sh
  scripts/python-static-analysis.sh
  scripts/python-tests.sh
Owners: @teko-admin

Replace chromadb with sentence-transformers to avoid C++ compilation issues on Python 3.13
  agents/requirements.txt
Owners: @python-team

updates
  .flake8
  agents/__init__.py
  agents/core/__init__.py
  agents/core/base_agent.py
  agents/core/langchain_wrapper.py
  agents/core/orchestrator.py
  agents/implementations/codebase_analysis_agent.py
  mypy.ini
  pyproject.toml
  scripts/lint.sh
  scripts/static-analysis.sh
Owners: @teko-admin, @python-team

add test
  agents/core/langchain_wrapper.py
  agents/tests/__init__.py
  agents/tests/test_codebase_analysis_agent.py
Owners: @python-team

Update documentation links: remove .md extensions and fix security policy URL
  docs/Home.md
Owners: @docs-team

feat: Add comment update API endpoint with Sanctum auth
  app/Http/Controllers/CommentController.php
  app/Models/User.php
  app/Providers/RouteServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/app.php
  config/sanctum.php
  database/migrations/2025_05_06_024922_create_personal_access_tokens_table.php
  routes/api.php
  tests/Feature/CommentSystemTest.php
  tests/TestCase.php
Owners: @php-team, @teko-admin

Refactor(Tests): Remove RefreshDatabase from Feature tests
  app/Http/Controllers/CommentController.php
  app/Policies/CommentPolicy.php
  app/Providers/AuthServiceProvider.php
  app/Providers/EventServiceProvider.php
  tests/Browser/DashboardTest.php
  tests/Browser/MonitoringTest.php
  tests/Browser/RepositoryManagementTest.php
  tests/Browser/RoleManagementTest.php
  tests/Browser/TaskManagementTest.php
  tests/Browser/UserManagementTest.php
  tests/Feature/CommentSystemTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/RepositoryManagementTest.php
  tests/Feature/TaskManagementTest.php
Owners: @php-team

Fix(Tests): Resolve comment system test issues
  routes/api.php
  tests/Feature/CommentSystemTest.php
Owners: @php-team

.github/CODEOWNERS:

# Teko Project Code Owners File
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @teko-admin

# PHP/Laravel specific files
*.php @php-team
/app/ @php-team
/database/ @php-team
/resources/ @php-team
/routes/ @php-team
/tests/ @php-team

# Python/Agent specific files
*.py @python-team
/agents/ @python-team

# CI/CD related files
/.github/workflows/ @devops-team
/docker/ @devops-team
/Dockerfile @devops-team
/docker-compose.yml @devops-team

# Documentation
*.md @docs-team
